<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Create</title>
    </head>

    <body>
        <form method="POST" action="/student/create">
            <div>
                <label for="name_student">Name Student</label>
                <input type="text" name="name_student" id="name_student" />
            </div>
            <div>
                <label for="age_student">age Student</label>
                <input type="text" name="age_student" id="age_student" />
            </div>
            <div>
                <label for="dept_student">dept Student</label>
                <input type="text" name="dept_student" id="dept_student" />
            </div>
            <div>
                <input type="submit" value="Create Student" />
                <!-- <button>Create Student</button> -->
            </div>
        </form>
    </body>
</html>
